<form action="/answer" method="get">
  <label for="question">Ask a question to your coach</label>
  <input type="text" id="question" name="question_for_coach" placeholder="Ex. What time is it?">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
